body {
  background-color: #eee;
}

ul.categories li {
  border: solid #ccc 1px;
  border-radius: 10px;
  float: left;
  height: 150px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 150px;
}

div.modal-dialog {
  height: 100%;
}

div.modal-content {
  border-radius: 0;
  height: 100%;
}
